
.card,
.stack:empty {
  display: inline-block;
  width: $width;
  height: $height;
  border: 1px solid $black-color;
  border-radius: 5px;
  background-color: $white-color;
}

.card.blank {
  background-color: $blank-color;
}

.stack {

  &.vertical {
    position: relative;

    .card {
      position: absolute;
      left: 0;
    }
  }

  &.horizontal {
    position: relative;

    .card {
      position: absolute;
      top: 0;
    }
  }

  &.top-card {
    .card {
      &:not(:last-child) {
        display: none;
      }
    }
  }

  .card { position: relative; }

}

@for $i from 0 through 51 {
  .stack.vertical { .card:nth-child(#{$i + 1}) {top: #{20px * $i}} }
  .stack.horizontal { .card:nth-child(#{$i + 1}) {left: #{20px * $i}} }
}
