
$white-color: #fff;
$black-color: #222;
$red-color: #f00;
$blank-color: #0aa;
$selected-card: #ff0;

$width: 75px;
$height: 97px;
$stack-gutter: 20px;
$card-gutter-horizontal: 15px;
$card-gutter-vertical: 25px;
