$white-color: #fff;
$black-color: #222;
$red-color: #f00;
$blank-color: #0aa;
$selected-card: #ff0;

$width: 75px;
$height: 97px;
$border-width: 1px;
$stack-gutter: 20px;
$card-gutter-horizontal: 15px;
$card-gutter-vertical: 25px;

$y-offset: 40px;
$x-offset: $width + $stack-gutter;

.container {
  position: relative;
  width: $x-offset * 6 + $width;
  margin: 0 auto;
  user-select: none;
}

.fireworks {
  width: 100%;
  height: $height + ($border-width * 2) + $y-offset + ($stack-gutter * 15);
  position: absolute;
}

.top,
.play,
.stock,
.waste,
.foundation {
  position: absolute;
}

.tableau {
  vertical-align: top;
  margin-right: $stack-gutter;
  &:last-child {
    margin-right: 0;
  }
}

.top,
.play {
  width: 100%;
}

.top {
  top: $y-offset;
  height: $height + ($border-width * 2);
}

.play {
  top: $height + $stack-gutter + $y-offset;
}

.stock {
  left: 0;
}

.waste {
  left: $width + $stack-gutter;
}

@for $i from 2 through 5 {
  .foundation:nth-child(#{$i + 1}) {
    right: #{(5 - $i) * $x-offset};
  }
}

.version {
  font-family: sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.new-game,
.switch-score-type,
.score {
  position: absolute;
}
.new-game {
  left: 0;
}
.switch-score-type {
  left: 90px;
}
.score {
  right: 0;
}
