
$y-offset: 40px;
$x-offset: $width + $stack-gutter;

#score {
  position: absolute;
  right: 0;
}

.klondike  {
  position: relative;
  width: $x-offset * 6 + $width;
  margin: 0 auto;

  .stack {
    position: absolute;
  }

  #stock, #waste, .foundation {
    top: $y-offset;
  }

  #waste {
    left: $width + $stack-gutter;
    width: $width;
    height: $height;
  }

  .tableau {
    top: $height + $stack-gutter + $y-offset;
    @for $i from 0 through 6 {
      &:nth-child(#{$i + 1}) { left: #{$i * $x-offset}; }
    }
  }

  .foundation {
    width: $width;
    height: $height;
    @for $i from 0 through 3 {
      &:nth-child(#{$i + 1}) { right: #{(3 - $i) * $x-offset}; }
    }
  }

  .card {
    &.selected {
      background-color: $selected-card;
    }
  }
}

